# /node_modules
# /public/css
# /public/js
# /public/media
# /public/plugins
# /storage/*.key
# /vendor
# .env
# .env.backup
# .phpunit.result.cache
# .php_cs.cache
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# mix-manifest.json

node_modules/
/public/css
/public/js
/public/media
/public/plugins
/vendor/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot


storage/*.key
.env
.env.backup
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mix-manifest.json

/.vagrant
.phpunit.result.cache
